<!DOCTYPE html>
<html>
  <head>
    <title>IOTA wallet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor/iota.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor/curl.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor/sjcl', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor/md5.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="IOTA wallet is a free and open source online wallet for the distributed ledger IOTA">
    <meta name="author" content="Daniel Lind">

    <meta property="og:title" content="IOTA Wallet" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iota-wallet.org" />
    <meta property="og:description" content="IOTA wallet is a free and open source online wallet for the distributed ledger IOTA" />
  </head>

  <body>
  <script>
    $(document).ready(function(){
      if (navigator.userAgent.indexOf('Safari') !== -1 && navigator.userAgent.indexOf('Chrome') === -1) {
          renderInfoAlert('mainNotifiactionArea',
              'This site does not currently work with safari. It will be supported very soon.');
      }
      try{curl}catch(err){
          renderInfoAlert('mainNotifiactionArea',
              'Your browser do not support WebGL2. Please enable it to use all our services');
      }

      try {
          loadGlobal();
          loadPolyfills();
      }catch (err){
          renderDangerAlert('mainNotifiactionArea',
              'Something went wrong. Please contact support if the problem persists. ' + err);
      }
    });

    $(document).on('turbolinks:load', function() {
        loadNodeInfoCached(onGetNodeStatusFinished);
    });
  </script>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul id="main_menu_nav" class="nav nav-pills pull-right">
            <li role="presentation" class=<%= 'active' if current_page?(root_path) %>><%= link_to "Home", root_path %></li>
            <% if logged_in? || session.key?('isLoggedIn') %>
              <li role="presentation" class=<%= 'active' if current_page?(wallets_show_path) || current_page?(wallets_details_path) %>><%= link_to "Wallet", wallets_show_path %></li>
            <% else %>
                <li role="presentation" class=<%= 'active' if current_page?(wallets_show_path) %>><%= link_to "Wallet", users_login_path %></li>
            <% end %>
            <% if logged_in? %>
                <li role="presentation" class=<%= 'active' if current_page?(users_show_path) %>><%= link_to "Account", users_show_path %></li>
          <% end %>
            <li role="presentation" class=<%= 'active' if current_page?(page_help_path) %>><%= link_to "Help", page_help_url %></li>
            <li role="presentation" class=<%= 'active' if current_page?(page_about_path) %>><%= link_to "About", page_about_url %></li>
            <% if logged_in? || session.key?('isLoggedIn') %>
              <li id="sign_out" role='presentation' ><a data-turbolinks="false" href='javascript:logOut();' ><span class='glyphicon glyphicon-log-out'></span></a></li>
            <% end %>
          </ul>
        </nav>
        <h3><a class="text-muted" href="/">IOTA Wallet</a></h3>
      </div>

      <div class="main-content">
        <div id="mainNotifiactionArea"></div>
        <%= yield %>
      </div>

      <footer class="footer">
        <div class="footer-content">
          <a href="/nodes/index" class="text-muted inline" id="node_status_wrapper" title="Not connected">Node status: <i class="fa fa-circle" id="node_status_symbol" aria-hidden="true"></i></a>
        </div>
      </footer>

    </div> <!-- /container -->
  </body>

</html>
